<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/slider11">
        <input type="range" min="1" max="10" name="name_of_slider" />
        <input type="submit" value="submit" />
    </form>

    <form action="/gettingBack" method="POST">
        <button type="submit">Go back!</button>
    </form>
    <img src="static/cannyResult.jpg" alt="" width="300px">

    <img src="static/DoG.jpg" alt="" width="300px">
    <img src="static/enhancedDoG.jpg" alt="" width="300px">


</body>
</html>