<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/edgeStyle.css') }}">
</head>
<body>
  
    
    <img src="static/results/cannyResult.jpg" alt="" width="800px">

    <div class="twoImagesDetect">
    <img src="static/results/DoG.jpg" alt="" width="800px">
    <img src="static/results/enhancedDoG.jpg" alt="" width="800px">
    </div>  

    <form method="POST" action="/slider11">
        <input type="range" min="1" max="10" name="name_of_slider" />
        <input type="submit" value="submit" />
    </form>

    <form action="/gettingBack" method="POST">
        <button type="submit">Go back!</button>
    </form>


</body>
</html>