<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MortyAI</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/indexStyle.css') }}">
</head>
<body>
    <h1>MortyAI</h1>
    <form method="post" action="/" enctype="multipart/form-data">
        <label for="image_uploads">Choose images:</label>
        <input type="file" id="image_uploads" name="image_uploads" multiple accept=".jpg, .jpeg, .png" required>
        <button type="submit">Upload</button>
    </form>

    <form action="/button_click" method="POST">
        <button type="submit">Do the magic!</button>
    </form>
    
    
</body>
</html>