<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Image Upload App</title>
</head>
<body>
    <h1>Flask Image Upload App</h1>
    <form method="post" action="/" enctype="multipart/form-data">
        <label for="image_uploads">Choose images:</label>
        <input type="file" id="image_uploads" name="image_uploads" multiple accept=".jpg, .jpeg, .png" required>
        <button type="submit">Upload</button>
    </form>

    <form action="/button_click" method="POST">
        <button type="submit">Do the magic!</button>
    </form>
    
    
</body>
</html>